$link-base-color: rgb(25, 209, 255);
$link-visited-color: rgb(25, 209, 255);
$link-hover-color: rgb(25, 209, 255);

$code-background-color: rgb(0, 0, 0);
$site-title-color: rgb(32, 255, 188);
$main-background-color: rgb(26, 26, 26);
$card-background-color: rgb(17, 17, 17);
$accent-color: rgb(211, 211, 211);
$text-color: rgb(200,200,200);

$line-color: rgb(173, 173, 173);

:root {
    color-scheme: light dark;
    --dark-background-color: rgb(26, 26, 26);
    --dark-foreground-color: rgb(32, 255, 188);
    --dark-link-color: rgb(25, 209, 255);
    --dark-text-color: rgb(240,240,240);

    --light-background-color: rgb(240,240,240);
    --light-foreground-color: rgb(0, 119, 83);    
    --light-link-color: rgb(1, 151, 189);
    --light-text-color: rgb(26, 26, 26);

    --line-color: rgba(211, 211, 211, 30%);
  }
@font-face {
    font-family: 'lato-normal';
    src: url('../../../../../assets/font/lato-normal.woff2') format('woff2'),
         url('../../../../../assets/font/lato-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: light-dark(var(--light-background-color), var(--dark-background-color));
    // background-color: light-dark(gray, black);
    color: light-dark(var(--light-foreground-color), var(--dark-foreground-color));
    margin:0px;
    padding:0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .05em;
}
h1, h2, h3, h4, h5 {
    font-family: 'comprehensionsemibold', Arial, Helvetica, sans-serif;
    // letter-spacing: .25em;
}
span {
    margin:0;
    padding: none;
}
h1 {
    color: light-dark(var(--light-foreground-color), var(--dark-foreground-color));
    // margin-bottom:1em;
} 
h2 {
    font-size: 1.5em;
    color: light-dark(var(--light-foreground-color), var(--dark-foreground-color));
    // margin: 0;
}
h3 {
    font-size: 1.25em;
    color: light-dark(var(--light-foreground-color), var(--dark-foreground-color));
    // margin: 2em 0;
}
hr {
    border: solid 1px --line-color;
    margin: 1em;
    width: 100%;
}
p, li, ul {
    color: light-dark(var(--light-text-color), var(--dark-text-color));
}
a:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
}
.language-plaintext {
    width: 750px;
    // border: 1px solid red;
    word-break: break-all;
    display: block;
    overflow: auto;
}
.headline {
    font-size: 1.5em;
}
.post-link {
    font-size: 2em;
}
.wrapper {
    margin:1em auto;
    width:100%;
    // padding:1em;
}
.site-nav { 
    margin-top: 0;
    float: right;
}
.page-link {
    margin: 0 1em;
}
a, a:visited, a:hover .page-link {
    color: light-dark(var(--light-link-color), var(--dark-link-color));
}
.post-detail a, p a, .pagination a {
    text-decoration: underline;
}
.face {
    clip-path: circle(150px at center);
    filter: invert(0%) sepia(0%) saturate(2%) hue-rotate(186deg) brightness(97%) contrast(101%);
}
.task-list {
    list-style-type: none;
    color: light-dark(var(--light-text-color), var(--dark-text-color));
}
.site-title {
    font-family: 'lato-normal', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background: -webkit-gradient(linear, left top, right bottom, from(light-dark(var(--light-foreground-color), var(--dark-foreground-color))), to(light-dark(var(--light-link-color), var(--dark-link-color))));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.tags {
    margin: 3em 0em;
}

.fa-gradient{
    color: light-dark(var(--light-link-color), var(--dark-link-color));
    // // background: linear-gradient(34deg, #128562, #1086a3) 1;
    // background: -webkit-gradient(linear, left top, right bottom, from($site-title-color), to(#1086a3));
    // -webkit-background-clip: text;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    // display: initial; /* reset Font Awesome's display:inline-block */
    // font-display: swap;
}
.footer-links li{
    list-style: none;
    line-height: 1em;
    width: 200px;
}
.footer-links a {
    padding:0;
    margin:0;

}
.site-header {
    border-image: linear-gradient(34deg, light-dark(var(--light-foreground-color), var(--dark-foreground-color)), light-dark(var(--light-link-color), var(--dark-link-color))) 1;
    border-width: 5px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    // margin: 0px -5px 0px -5px;
    // margin:0;
    // margin:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // padding-left: 30px;
    // padding-right: 30px;
}
.site-title {
    padding-left: 1em;
}
.home-wrapper {
    display: flex;
    justify-content: cenleter;
    align-items: center;
    gap: 3em;
    margin:2em auto;
    flex-direction: row;
    width: 800px;
    flex: 2 100%;
}
.home-wrapper-column {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 800px;
    gap: 2em;
    margin:2em auto;
    margin-bottom:4em;
    flex-direction: column;
    flex: 1 100%;
}
.home-name {
    font-family: 'comprehensionsemibold', Arial, Helvetica, sans-serif;
    // width:325px;
    background: -webkit-gradient(linear, left top, right bottom, from($site-title-color), to(#1086a3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
}
.home-heading {
    font-size: 2em;
    color: light-dark(var(--light-foreground-color), var(--dark-foreground-color));
}
.site-nav {
    display: flex;
    padding: 10px 15px;
}
.article {
    // border-image: linear-gradient(34deg, $site-title-color, #1086a3) 1;
    border-width: 2px;
    border-style: solid;
    padding: 1em;
    border: 2px solid transparent;
    border-radius: 20px;
    background-origin: border-box;
    background-clip: padding-box, border-box;

    display: flex;
    flex-flow: column;
    justify-content: left;
    // width:500px;

}
.wrapper {
    margin: auto;
    // width:700px;
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 3em;
    // padding:1em;
    flex-direction: column;
    // line-height: 1.75em;
    flex: 1 100%;
}
.post-detail, .page-detail{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-size: 1.25em;
    margin: 0 auto;
    // margin: 1em;
    width: 700px;
}
.blog-entry {
    width: 100%;
    padding: 1em 0;
    align-items: left;
    text-align: left;
    border-top: solid 2px --line-color;
}
// .blog-entry, .post-detail span {
//     // color: --dark-foreground-color;
// }

.home-blog {
    flex-direction: column;
}
.blogimg {
    max-width: 750px;
    border: 1px solid light-dark(var(--light-text-color), var(--dark-text-color));
}
.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5em;
}
.footer-col {
    vertical-align: top;
    // border: solid 1px red;
    // text-align: center;
    padding: 1em;
}
.pagination {
    text-align: center;
    padding: 1.5em;
}
// @media (max-width: 800px) {
//     .post{
//       flex-direction: column;
//     }
//     .article {
//         width: 90%;
//     }
//   }
// .home-col {
//     width: 100%;
// }
// @media (max-width: 100px) {
//     .home-wrapper {
//         width: 100%;
//     }
//     .wrapper {
//         width: 100%;
//     }
//   }
// @media (max-width: 1200px) {
//     .wrapper {
//         width: 100%;
//     }
//     .home-wrapper {
//         width: 90%;
//     }
//   }
@media (max-width: 800px) {
    .site-title {
        font-size: 2em;
        padding: 0;
    }
    hr {
        width: 80%;
    }
    .wrapper {
        width:100%;
    }
    .home-wrapper {
        flex-direction: column;
        width: 90%;
    }
    .footer-wrapper {
        flex-direction: column;
        width: 100%;
    }
    .footer-col, .page-detail, .post-detail, .home-wrapper-column {
        width: 90%;
    }
    .site-header {
        justify-content: center;
        flex-direction: column;
    }
    img {
        width: 100%;
    }
}