// Placeholder to allow overriding predefined variables smoothly.
$brand-color: rgb(25, 209, 255);

$link-base-color: rgb(32, 255, 188);
$link-visited-color: rgb(32, 255, 188);
$link-hover-color: rgb(25, 209, 255);

$code-background-color: rgb(0, 0, 0);
$site-title-color: rgb(32, 255, 188);
// $text-color: rbg(0,0,0);

body {
    background-color: rgb(12,12,12);
    color: rgb(200,200,200);
    margin-top:0px;
}
.wrapper {
    margin:0 auto;
}
.wrapper a{
    text-decoration: none;
}
.site-nav { 
    margin-top: 0;
    float: right;
}
.page-link {
    margin: 0 1em;
}
a, a:visited, a:hover .page-link {
    color:$site-title-color;
}
.face {
    clip-path: circle(150px at center);
    filter: invert(0%) sepia(0%) saturate(2%) hue-rotate(186deg) brightness(97%) contrast(101%);
  }

.site-title {
    font-size: 1.5em;
    background: -webkit-gradient(linear, left top, right bottom, from($site-title-color), to(#1086a3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
// wd   
.site-nav a {
    font-size: 1em;
    text-decoration: none;
}
.fa-gradient{
    // background: linear-gradient(34deg, #128562, #1086a3) 1;
    background: -webkit-gradient(linear, left top, right bottom, from($site-title-color), to(#1086a3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial; /* reset Font Awesome's display:inline-block */
    font-display: swap;
}
.site-header {
    border-image: linear-gradient(34deg, $site-title-color, #1086a3) 1;
    border-width: 5px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin:0px -5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.home-heading {
    width:325px;
    background: -webkit-gradient(linear, left top, right bottom, from($site-title-color), to(#1086a3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
}
.site-nav {
    display: flex;
    padding: 10px 15px;
}
.home-article {
    // border-image: linear-gradient(34deg, $site-title-color, #1086a3) 1;
    border-width: 2px;
    border-style: solid;
    padding: 1em;



    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(rgb(12,12,12), rgb(12,12,12)),
    linear-gradient($site-title-color, #1086a3);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    display: flex;
    flex-flow: column;
    justify-content: left;
    // width:500px;

}
.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}