<footer class="site-footer h-card"> 
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-wrapper">
      
      <div class="footer-col">
            <ul class="footer-links">
              <li>
                <a href="mailto:christopher@christopherhimes.com" title="Email me">
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fas fa-envelope fa-gradient fa-stack-1x"></i>
              </span>email
              </a>
            </li>
            <li>
            <a rel="me" href="https://github.com/christopherhimes" title="GitHub">
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fab fa-github fa-gradient fa-stack-1x"></i>
              </span>github
           </a>
          </li>
          <li>
            <a rel="me" href="https://hachyderm.io/@eeentropyyy">
              <span class="fa-stack fa-lg fa-gradient" aria-hidden="true">
                <i class="fab fa-mastodon fa-stack-1x"></i>
              </span>mastodon
            </a>
          </li>
          <li>
            <a rel="me" href="https://bsky.app/profile/eeentropyyy.hachyderm.io.ap.brid.gy">
              <span class="fa-stack fa-lg fa-gradient" aria-hidden="true">
                <i class="fa-brands fa-bluesky fa-stack-1x"></i>
              </span>bluesky
            </a>
          </li>
          <li>
            <a href="/feed.xml" title="RSS">
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fas fa-rss fa-gradient fa-stack-1x"></i>
              </span>feed
            </a>
          </li>
          </ul>
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
        <p>© 2025 Christopher Himes. Made in Michigan.</p>
        <p>Site last published: {{ site.time | date: "%B %-d, %Y %-I:%M %p UTC%:z" }}</p>
      </div>
    </div>


  </div>

</footer>
