<footer class="footer-wrapper"> 
  <data class="u-url" href="{{ "/" | relative_url }}"></data>  
      <div class="footer-col">

          <h3>Links</h3>
            <ul class="footer-links">
              <li>
                <a rel="me" href="mailto:christopher@christopherhimes.com" title="Email me">email
              </a>
            </li>
            <li>
            <a rel="me" href="https://github.com/christopherhimes" title="GitHub">github
           </a>
          </li>
          <li>
            <a rel="me" href="https://hachyderm.io/@eeentropyyy">mastodon
            </a>
          </li>
          <li>
            <a rel="me" href="https://bsky.app/profile/eeentropyyy.hachyderm.io.ap.brid.gy">bluesky
            </a>
          </li>
          <li>
            <a href="/feed.xml" title="RSS">feed
            </a>
          </li>
          </ul>
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
        <p>© 2025 Christopher Himes. Made in Michigan.</p>
        <p>Site last published: {{ site.time | date: "%B %-d, %Y %-I:%M %p UTC%:z" }}</p>
      </div>
</footer>
