/* Constants */
$base-font-family: 'Lato', Helvetica, Arial, sans-serif;
$base-font-size:   20px;
$small-font-size:  $base-font-size * 0.9;
$xsmall-font-size:  $base-font-size * 0.75;
$base-line-height: 1.5;

$spacing-unit:     40px;

$text-color:       #111;
$background-color: #fdfdfd;


$main-color:        #01b18b;
$main-color-light:  lighten($main-color, 15%);
// $main-color-light:  lighten($main-color, 30%);
$main-color-dark:  darken($main-color, 25%);

$second-color:       #530189;
$second-color-light: lighten($second-color, 30%);
$second-color-lightest: lighten($second-color, 50%);
$second-color-dark:  darken($second-color, 15%);

$on-palm:          600px;
$on-laptop:        800px;
$on-desktop:       900px;


