---
# Only the main Sass file needs front matter (the dashes are enough)
---

@use "comments";

// .tags {
//     // margin: 3em 0em;
// }
.task-list {
    // list-style-type: none;
    color: light-dark(var(--light-text-color), var(--dark-text-color));
}
.fa-gradient{
    color: var(--link-color);
}



.pagination {
    text-align: center;
    padding: 1.5em;
}


.post-tags {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    text-decoration: none !important;
  }
  
.tag-button {
    padding: 0.3em 0.8em;
    border: 1px solid var(--link-color);
    border-radius: 999px;
    font-size: 0.6em;
    text-decoration: none;
    color: var(--link-color);
    transition: background-color 0.8s, color 0.8s;
}
.tag-button a {
    text-decoration: none !important;
}
.tag-button:hover {
    // background-color: #f0f0f0;
    background: -webkit-gradient(linear, left top, right bottom, from(var(--foreground-color)), to(var(--link-color)));
    color: var(--invert-text-color);
    text-decoration: none !important;
  }

.reading_time {
    font-size: 0.7em;
}
.💯 {
    list-style: none;
    padding-left: 0;
}
pre {
    overflow-x: auto;
    width: 100%;
  }
@media (max-width: 800px) {
    .site-title {
        font-size: 2em;
        padding: 0;
    }
    hr {
        width: 80%;
    }
    .wrapper {
        width:90%;
    }
    .home-wrapper {
        flex-direction: column;
        width: 90%;
    }
    .footer-wrapper {
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }
    .footer-col, .page-detail, .post-detail, .home-wrapper-column {
        width: 100%;
        justify-content: center;
    }
    .site-header {
        justify-content: center;
        flex-direction: column;
    }
    img {
        width: 100%;
    }
    .footer-col {
        text-align: center;
    }
    .footer-links {
        font-size: 1.4em;
        text-align: center;
        width:100%;
        // border: 1px solid red;
    }
}