// Placeholder to allow overriding predefined variables smoothly.
$brand-color: rgb(16, 134, 163);

$link-base-color: rgb(18, 133, 98);
$link-visited-color: rgba(18, 133, 99, 0.582);
$link-hover-color: rgb(30, 190, 142);

$code-background-color: rgb(0, 0, 0);
$site-title-color: rgb(18, 133, 98);
// $text-color: rbg(0,0,0);

