// Placeholder to allow overriding predefined variables smoothly.
$brand-color: rgb(16, 134, 163);

$link-base-color: rgb(27, 209, 155);
$link-visited-color: rgb(30, 251, 185);
$link-hover-color: rgb(27, 209, 155);

$code-background-color: rgb(0, 0, 0);
$site-title-color: rgb(27, 209, 155);
// $text-color: rbg(0,0,0);

