// Placeholder to allow overriding predefined variables smoothly.
$brand-color: rgb(25, 209, 255);

// $link-base-color: rgb(125, 255, 216);
// $link-visited-color: rgb(125, 255, 216);
// $link-hover-color: rgb(125, 255, 216);

$link-base-color: rgb(255,255,255);
$link-visited-color: rgb(255,255,255);
$link-hover-color: rgb(255,255,255);

$code-background-color: rgb(0, 0, 0);
$site-title-color: rgb(32, 255, 188);
// $text-color: rbg(0,0,0);

