html{
 	background: url(../images/background.jpg) no-repeat 0 0 fixed;  
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;      
  /*muckster on flickr*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

 body {
	margin:0 auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
a, a:hover {
    text-decoration:none;
}
ul li {
    display:inline;
}
li {
    float: left;
    margin:0 auto;
    padding:1em;
    padding-right:2.5em;
}
p {
    margin:auto;
    text-indent:1.5em;
}
#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5em;
    background-color:#FFF;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
	-webkit-box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, .5);
    box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, .5);    
    z-index:50;
}
#header #button {
    display: none;
    top: 12.5px;
    right: 12.5px;
    height: 25px;
    width: 25px;
}
#logo {
    font-family:'Comfortaa', cursive;
    float:left;
    margin:.5em;
    font-size:2em;
    width:5em;
    color:#444;
    letter-spacing:.2em;
}
#logo a {
    color:#444;  
}
#wrapper {
    background-color: #f0f0f0;
    	-webkit-box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, .5);
	        box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, .5);
    z-index:100;
    min-height: 100%;
    height: auto !important;
'    height: 100%;
    margin: 0 auto -4em;
    font-size:1.5em;  
}
#content {
/*     margin:0 auto;
    margin-top: 5em;
    padding:1em;
    padding-top:2em;
    max-width: 800px; */
    font-size:1.5em;    

}
#mainnav {
    float:right;
    margin:0 auto;
    margin-top:1em;
    margin-right:5em;
    font-family:'Oxygen', sans-serif;
    letter-spacing:.2em;
}
#more {
    position:absolute;
    background-color:#f0f0f0;
    bottom:50px;
    left:50%;
    margin-left:-50px;
    -webkit-border-radius: 50px;
    border-radius:50px;
    height:100px;
    width:100px;
    text-align:center;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
  	-webkit-box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, .5);
	        box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, .5);
    z-index:-1;
    cursor: pointer;
}
#moreheader {
    position:absolute;
    background-color:#f0f0f0;
    left:50%;
    margin-left:-50px;
	margin-top:-98px;
    -webkit-border-radius: 50px;
    border-radius:50px;
    height:99px;
    width:99px;
'    text-align:center;
    z-index:50;
    cursor: pointer;
'    visibility:hidden;
}
#circlelogo {
    position:absolute;
    background-color:#f0f0f0;
    bottom:55px;
    left:50%;
    margin-left:-45px;
	margin-bottom:-50px;
    -webkit-border-radius: 50px;
    border-radius:50px;
    height:90px;
    width:90px;
    cursor: pointer;
    z-index:1000;    
}
/*
#home, #about, #other {
    margin:0 auto;
    padding:2em;
	height:20em;
}*/
.footer {
    background-color:#e28228;
    white-space:nowrap;
    clear:both;
    padding:0 3em;
   /*    margin:0 auto;
    padding:0 3em;
    width:100%;
    
 
    text-align:center;
    
*/
}
.orange {
    background:#e28228;        
}
/*.footercol {
    width:30%;
    min-height:50%;
    display:inline-block;
    margin:1em auto;
    padding:0;
'    border:1px solid #fff;
    text-align:center;
    font-family:'Helvetica', sans-serif;
    font-size:1em;
    vertical-align: middle;
}*/
.nav {
    color:#000;
}

'@media only screen and (max-width: 480px) {  
'    #header {
'        font-size:2em;
''}
 
} 
.oxygen {
    margin:0;
    padding:0;
    font-family:'Oxygen', sans-serif;
    font-size:1.5em;
}
.comfortaa {
    margin:0;
    padding:0;
    font-family:'Comfortaa', cursive;
    font-size:1.5em;
}
#contact {
    font-family:'Oxygen', sans-serif;
    font-size:1em;
    line-height:0;
    margin:0;
    padding:0;
}

.row {
    height:100%;
    padding:3em 0;
}