---
layout: base
---

<div class="home">

  <div class="wrapper">
    <div class="home-col-wrapper">
      <div class="home-col">
        <img class="face" src="assets/img/face.png">
      </div>
      <div class="home-col">
        <p class="home-heading">I'm a Product Owner living in Metro Detroit using my experience to make complicated things simpler.</p>
      </div>
    </div>
      <div class="home-col-wrapper">
      {% assign posts = site.posts %}
    
      {%- if posts.size > 0 -%}
      {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
      {%- endif -%}
      <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {% for post in site.posts limit:1 %}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <div class="post-content e-content" itemprop="articleBody">
            {{ post.excerpt }}
            <a href="{{ post.url | relative_url }}">
              More...
            </a>
          </div>
        </li>
        {%- endfor -%}
      </ul>
  
    {%- endif -%}
    </div>
  </div>
  
  
</div>
