---
layout: base
---
  <div class="home-wrapper">
      <div class="home-col">
        <img class="face" src="assets/img/home-face-325x325.webp" alt="black and white picture of me in a suit">
      </div>
      <div class="home-col">
        <h1>Hi there</h1>
        <p class="home-heading">I'm Christopher Himes, an accomplished Product Owner seeking new opportunities for transformation and adding value.</p>
      </div>
      
  </div>
  <div class="home-wrapper-column">
    <hr />
    <h1>experience</h1>
    <p class="headline">Product Owner with 10+ years of leading transformative projects and delivering measurable results. Adept at building and nurturing high-performing teams while driving strategic growth and exceeding customer expectations. <a href="/cv">Read more...</a></p>
  </div>
  <div class="home-wrapper-column">
    <hr />
    <h1>recent posts</h1>
    <div class="home-blog">
    {% for post in site.posts limit:5 %}
      <article>
        <h2>
          <a class="blog-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </article>
    {% endfor %}
  </div>
  <hr />
  </div>
